/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

a{
    text-decoration: none;
   
}
/* Topnav styles */

.topNav_container{
  backdrop-filter: blur(15px);

    height: 30px;
    background-color: #0098db;
    font-family: poppins;
    
}
.social{
display: flex;

padding-top: 5px;
}
 .left{
    display: flex;
    justify-content: center;
    align-items: center;

}
 .right{
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* banner */

.banner_img{
  background: url('../public/banner.jpg');
}


/* Colleges */
.college_card {

  height: 322px;
  /* border: 2px solid blue; */
  background: rgba(33, 150, 83, 0.2);
  box-shadow: -20px 10px 4px rgba(10, 102, 194, 0.25);
}
.college_card_2{

  height: 322px;
  /* border: 2px solid blue; */
 
  box-shadow: -20px 10px 4px rgba(10, 102, 194, 0.25);
}

.college_card:nth-child(2) {
  background: rgba(242, 201, 76, 0.2);
}
.college_card:nth-child(3) {
  
  background: rgba(3, 207, 214, 0.2);
}
.card_header {
  margin: auto;
  width: 90%;

  display: flex;
  align-items: center;
}
.card_profile {
  width: 80px;
  height: 74px;
  margin-right: 20px;
  background: #219653;
}
.card_profile_2 {
  width: 80px;
  height: 74px;
  margin-right: 20px;

}
.card_header h2 {
  width: 146px;
  font-weight: 600;
  font-size: 24px;
}
.card_content {
  margin: 0 auto;
  width: 90%;
}
.card_content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.card_content a {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #131e47;
  text-decoration: none;
}

/* Newsletter */

.newsletter_container {
  background: #131e47;

 
  margin-top: 40px;
  display: flex;
}

.newsletter_input{

    /* display: flex; */
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.newsletter_container h2{
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}
.newsletter_container p{
    font-weight: 400;
font-size: 16px;
line-height: 22px;

color: #FFFFFF;
}
.newsletter_container input{
    padding: 15px 20px;
    width: 100%;
    /* display: flex; */
    margin-left: 0px;
    position: relative;
    right: -60px;
    background-color: #131e47;

    border: 2px solid white;
}
 .newsletter_container button{
  position: relative;
  left: -40px;
  
} 

  /* Register page */
  .register_container{
    display: flex;
    height: 100%;
  }

  /* Footer */
  .footer_container{
    margin-top: 40px;
    /* border: 2px solid blue; */
    display: flex;
  }
  .footer_links
  {
    display: flex;
    flex: 2;
    justify-content: space-around;
  }
  .footer_links h2{
    color: #131E47;
    font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  }
  .footer_links a{
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
  color: #1E1E1E;
  }
  .footer_social p{
    font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  
  text-align: center;
  
  color: #1E1E1E;
  }
  .footer_social a{
    color: #121212;
    margin-right: 30px;
    font-size: 24px;
  }
  .footer_end{
    background-color: #131E47;
    height: 40px;
  }
  
  
  

  /* Video */
.videoThumbnail{
  background: url('../public/Rectangle\ 75.png');
  background-position: center;
  background-size: cover;
}
/* Contact */

.contact_banner{
  background: #8bc0d7;
  height: 300px;
  background-position: center;
  background-size: cover;
}
/* .contact_h4::before{
  position: absolute;
  content: "";
  background: #0098db;
  width: 50px;
  height: 2px;
  bottom: 250px;
  left: 60px;
}
.get_h4::before{
  position: absolute;
  content: "";
  background: #0098db;
  width: 50px;
  height: 2px;
  bottom: 250px;
  left: 35%;
} */
.contact_icon{



  display: flex;
  
  justify-content: center;
  align-items: center;
  color: #0098db;
 
}
.contact_input{
  display: flex;
  margin-bottom: 20px;
}


/* schools */
.creche{
  background: url('../public/creche.jpg');
  height: 250px;
  background-position: center;
  background-size: cover;
}
.primary{
  background: url('../public/primary.jpg');
  height: 250px;
  background-position: center;
  background-size: cover;
}
.secondary{
  background: url('../public/secondary.jpg');
  height: 250px;
  background-position: center;
  background-size: cover;
}
.academics{
  background:  url('../public/creche.jpg');
  filter: brightness(50%);
  height: 180px;
  background-position: center;
  background-size: cover;
}
.gallery{
  background:url('../public/primary.jpg');
  filter: brightness(50%);
  height: 180px;
  background-position: center;
  background-size: cover;
}
.school_blog{
  background: url('../public/primary.jpg');
  filter: brightness(50%);
  height: 180px;
  background-position: center;
  background-size: cover;
}
.Awards{
  background: url('../public/Award.JPG');
  filter: brightness(50%);
  height: 180px;
  background-position: center;
  background-size: contain;
}